@{
    ViewBag.Title = "Index";
}
    <main class="container">
    <h1> @ViewData["Lab2_Text"] </h1>
        <h2> Список </h2>

        @* Here apply Razor, list include metod "for" *@
        @{
        var items = new List<string> { "Элемент 0", "Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4"};
        }
        <ol style="margin-left:50px" class="listcheck1">
            @for(var i=0; i<items.Count; i++)
            {
                <li>@items[i]</li>
            }
        </ol>

        <p style="margin-bottom:70px"> </p>
        <hr />
        <div>
            <h2>Форма</h2>

            @* Here hiden list *@
        @* <select style="margin-left:60px" class="form-select" aria-label="Default select example"
            <option selected>Item1</option>
            <option value="1">Item2</option>
            <option value="2">Item3</option>
        </select> *@
            @* Checkbox. I did it myself *@
            <p style="margin-bottom:60px"></p>
        <form method="post" action="https://localhost:7023/" style="margin-left:50px">

                @* Here hiden list var2 *@
                <select id="_listData" name="_listData" asp-items="ViewBag.Item" style="margin-left:60px"
                        class="form-select">
                </select>

                <p>
                    <label class="checkbox-container">
                        <input type="checkbox" id="checkbox1"/>
                        Чек-бокс1
                    </label>
                </p>
                <p>
                    <label class="checkbox-container">
                        <input type="checkbox" id="checkbox2" />
                        Чек-бокс2
                    </label>
                </p>

                @* Radiobutton coppy http://www.getbootstrap.com *@
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio-1" 
                        id="radio-1" value="option1"  checked>
                    <label class="form-check-label" for="radio-1">radio-1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio-2" 
                        id="radio-2" value="option1">
                    <label class="form-check-label" for="radio-2">radio-2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio-3" 
                        id="radio-3" value="option1">
                    <label class="form-check-label" for="radio-3">radio-3 </label>
                </div>

                @* Form registration coppy http://www.getbootstrap.com *@
                @* Fill in login *@
                <div class="row" style="margin-top:60px">
                    <label for="RowLogin" class="col-sm-2 col-form-label col-form-label-lg">
                        Login
                    </label>
                    <div class="col-sm-10" style="margin-bottom:20px">
                        <input type="email" class="form-control form-control-lg" id="RowLogin"
                            placeholder="Login">
                    </div>
                </div>

                @* Fill in password *@
                <div class="row" style="margin-bottom:60px">
                    <label for="RowPassword" class="col-sm-2 col-form-label col-form-label-lg">
                        Password
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control form-control-lg" id="RowPassword"
                            placeholder="Password" style="margin-bottom:20px">
                    </div>
                </div>
                @* Button "send", it is copy from http://www.getbootstrap.com *@
                @* <button type="submit" class="btn btn-info" style="margin-bottom:60px">Send</button> *@
                
                @* Created button, send massage. *@
                <input type="submit" value="SEND"/>
            </form>
        </div>  

    </main>

